<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
    {{> admin/header }}
        <div class="container">
            {{> admin/navbar  }}
            {{{ body }}}
        </div>
    {{> admin/footer }}
    </body>
</html>