<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        {{> home/home-navbar }}
        <div class="container">
            {{{ body }}}
        </div>
        {{> home/footer }}
    </body>
</html>