<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row">
            {{> home/home-navbar }}
        </div>
        <div class="container">
            {{> admin/messages }}
            {{{ body }}}
        </div>
        <div class="row">
            {{> home/footer }}
        </div>
    </body>
</html>