<nav class="navbar fixed-top">
    <div class="container">
        <ul class="list">
            <li class="list-item"> <a href="/">CMS</a> </li>
            <li class="list-item"> <a href="/about" class="text-info">About</a> </li>
            <li class="list-item"> <a href="/login" class="text-info">Login</a> </li>
            <li class="list-item"> <a href="/register" class="text-info">Register</a> </li>
        </ul>
    </div>
</nav>