<div class="row">
    <div class="well">
        <h3>Admin Login</h3>
        <div style="float: right">
            <p>
                <span>{{#if user}}{{ user.firstName }}{{/if}}</span>
                <a href="/logout">Logout</a>
            </p>
        </div>  
    </div>
</div>
