{{#if success_message}}
    <div class="alert alert-success">
        {{success_message}}
    </div>
{{/if}}
{{#if error_message}}
    <div class="alert alert-danger">
        <ul class="list-unstyled">
        {{#each error_message}}
            <li class="list-item">{{this}}</li>
        {{else}}
            <li class="list-item">{{error_message}}</li>
        {{/each}}
        </ul>
    </div>
{{/if}}