<ul class="list">
    <li class="list-item">
        <a href="/admin" class="links">Dashboard</a>
    </li>
    <li class="list-item">
        <ul class="list">
            <li class="list-item">
                <a href="/admin/posts">All Posts</a>
            </li>
            <li class="list-item">
                <a href="/admin/posts/create">Create</a>
            </li>
        </ul>
    </li>
    <li class="list-item">Item 3</li>
</ul>